.chart
{
	margin: auto;
	width: 460px;
	height: 270px;
	margin-bottom: 10px;
	display: inline-block;
}

.section
{
	width: 46%;
	max-width: 600px;
	min-width: 540px;
	height: 600px;
	display: inline-block;
}

.box
{
	height: 95%;
	outline: 3px solid #EB8258;
	margin: 30px;
}

#box1 { overflow-y: scroll; }
#box2 { overflow-y: hidden; overflow-x: hidden; padding: 5px;}

#main
{
	text-align: center;
}

#compareForm
{
	display: inline-block;
}

.headOfBox
{
	color: #EB8258;
}

.filters
{
	text-align: center !important;
	border-bottom: none !important;
	padding-bottom: 0 !important;
}


.filters:hover
{
	cursor: pointer;
}

input, td:hover
{
	cursor: pointer;
}