
* {
	box-sizing: border-box;
}

html{
	position: relative;
	min-height: 100%; /*required for footer*/
	padding-bottom: 40px;
	scroll-behavior: smooth;
	font-family: 'Manrope', sans-serif;
}


/*
TODO: add styling for donations page, thanks for donating page and external result page
also, add footer style
*/


h1{
	font-size: 300%;
	position: relative;
	top: 0px;
	margin: 5px;
	text-align: left; 
	color: #EB8258; 
	font-family: 'Manrope', sans-serif;
	font-weight: 800;
	letter-spacing: 4px;
}


/* ---------footer design--------------- */
footer{
	border-top: 1px dotted #344341;
	bottom: 0 !important;
	position: absolute;
	left: 0;
	height: 40px;
	overflow: hidden;
	margin-top: 10px;
	width: 100%;
	max-width: 100%;
	background-color: #e8e8e8;
	font-size: 16px;
	font-family: helvetica, sans-serif;
	letter-spacing: 1px;
}

footer div{
	margin-left: 4px;
	bottom: 0;
	position: absolute;
	margin-bottom: 9px;
}
/* ------------end footer design------------ */



/* ------------TOP button design------------ */
#myBtn {
	  display: none; 
	  position: fixed; 
	  bottom: 22px; 
	  right: 30px; 
	  z-index: 20; 
	  border: none; 
	  outline: none;
	  background-color: #565FA6;
	  color: #FFFFFF; 
	  cursor: pointer; 
	  padding: 15px;
	  border-radius: 10px;
	  font-size: 18px;
}

#myBtn:hover {
		 background-color: #555; 
}
/* ------------end TOP button design------------ */
