* {
	box-sizing: border-box;
}


/*
TODO: add styling for donations page, thanks for donating page and external result page
also, add footer style
*/


h1{
	font-size: 400%;
	position: relative;
	top: 0px;
	margin: 5px;
	text-align: left; 
	color: #EB8258; 
	font-family: 'Manrope', sans-serif;
	font-weight: 800;
	letter-spacing: 4px;
}
